services:
  - type: web
    name: whisper-backend
    env: python
    plan: free
    buildCommand: pip install -r backend/requirements.txt
    startCommand: bash start.sh
    build:
      cwd: backend

  - type: web
    name: whisper-frontend
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm run dev
    build:
      cwd: frontend